body, h1, h2, h3, h4, h5, h6,
p, div, p, span, li, ul, ol,
a, a:link, a:visited
    font-family "Helvetica Neue", Helvetica, "Trebuchet MS", Jamrul Arial, sans-serif
    color darkText
    font-weight 100
    line-height 1.2em
    box-sizing border-box

a, a:link, a:visited
    text-decoration none

input:focus
    box-shadow inset 0 0 80px rgba(0 0 0 0.2)

input.error
input.error:focus
    box-shadow inset 0 0 80px rgba(255 0 0 0.5)

.show
    display inherit

.hide
    display none !important

br.clear
    height 0
    line-height 0
    font-size 0
    clear both

shadow()
    box-shadow 0 2px 3px rgba(0 0 0 0.2)
