

// style helpers ---------------------------------------------------

overflow(val)
	if val == "auto" || val == "scroll"
		overflow auto
		-webkit-overflow-scrolling touch
	else
		overflow val

border-radius()
	-webkit-border-radius arguments
	-moz-border-radius arguments
	border-radius arguments
	overflow hidden

box-shadow()
	-webkit-box-shadow arguments
	-moz-box-shadow arguments
	box-shadow arguments

box-sizing()
	-webkit-box-sizing arguments
	-khtml-box-sizing arguments
	-moz-box-sizing arguments
	-ms-box-sizing arguments
	box-sizing arguments

user-select()
	-webkit-user-select arguments
	-moz-user-select arguments
	-ms-user-select arguments
	-o-user-select arguments
	user-select arguments

transform()
	transform arguments
	-webkit-transform arguments
	-moz-transform arguments
	-o-transform arguments

transition()
	-webkit-transition arguments
	-moz-transition arguments
	-ms-transition arguments
	-o-transition arguments
	transition arguments

transition-duration()
	-webkit-transition-duration arguments
	transition-duration arguments

transition-property()
	-webkit-transition-property arguments
	transition-property arguments

animation()
	-webkit-animation arguments
	-moz-animation arguments
	-ms-animation arguments
	-o-animation arguments
	animation arguments




