#alphaTable
	margin-top 20px

	table
		border-spacing 0

	.visible table
		display none

	td
		font-size 0
		width 4px
		height 4px
		line-height 4px
		overflow hidden

		&.active
			background yellow

		&.inactive
			background white