#alphaTable
    margin-top 20px
    width 400px

    ul
        padding 0
        margin 0
        display table-row
        background green

        li
            display table-cell
            padding 0
            margin 0
            font-size 0
            width 4px
            height 4px
            line-height 4px
            overflow hidden
            background blue

            &.active
                background yellow

            &.inactive
                background white